.container3 {
    background-color: #f4f4f4;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 5vh;
}

.container3 h2 {
    margin-bottom: 20px;
    color: #333;
}

.container3 p {
    font-size: 18px;
    line-height: 1.5;
    color: #555;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
