
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    width: 93%;
    margin-left: 3%;
    margin-top: 5%;
    color: black;
    text-align: center;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  header h1 {
    font-size: 36px;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .hero {
    align-content: center;
    background-image: url('assets/back_res.jpg'); 
    background-size: cover;
    background-position: center;
    color:white;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .about{
    margin-top: 3%;
  }
  
  .about,
  .contact {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .about h2,
  .contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  